<div>
  <div class="table-wrapper-scroll-y">
    <table class="table">
      <tr>
        <th>Place</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Time (seconds)</th>
      </tr>
      <% @participants.each_with_index do |participant, index| %>
        <tr id=<%="row#{participant.id}"%>>
          <td><%=index + 1%></td>
          <td><%=participant.first_name%></td>
          <td><%=participant.last_name%></td>
          <td><%=participant.email%></td>
          <td><%=sprintf("%.3f",participant.time)%></td>
          <td><button class='btn btn-primary deleteButton' id=<%=participant.id%>>Delete Game</button></td>
        </tr>
        <%end%>
    </table>
  </div>
</div>
